alembic==1.4.2
amqp==2.6.1
billiard==3.6.3.0
blis==0.4.1
boilerpy3==1.0.2
boto==2.49.0
boto3==1.14.42
botocore==1.17.42
cachetools==4.1.1
catalogue==1.0.0
celery==4.4.7
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cymem==2.0.3
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
flask-crontab==0.1.2
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
future==0.18.2
gensim==3.8
google-api-core==1.22.1
google-api-python-client==1.11.0
google-auth==1.21.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
kombu==4.6.11
Mako==1.1.3
MarkupSafe==1.1.1
murmurhash==1.0.2
numpy==1.19.1
packaging==20.4
plac==1.1.3
preshed==3.0.2
protobuf==3.13.0
psycopg2==2.8.5
py-postgresql==1.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
pytz==2020.1
regex==2020.7.14
requests==2.24.0
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scipy==1.4.1
sentencepiece==0.1.91
six==1.15.0
smart-open==2.1.0
spacy==2.3.2
SQLAlchemy==1.3.18
srsly==1.0.2
thinc==7.4.1
tensorflow==2.4.0
tokenizers==0.8.1rc1
torch==1.6.0
tqdm==4.48.2
transformers==3.0.2
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.10
vine==1.3.0
wasabi==0.8.0
Werkzeug==1.0.1
zipp==3.1.0
